.fre-account-wrap{
  .fre-login-wrap{
    .fre-login{
      li a{ font-weight: 600; }
      li a:hover{ color: $maincolor; }
      #postajob{ background: $maincolor; color: #FFFFFF; font-weight: 600; padding: 5px 20px; margin-left: 3rem; transition: all ease-out 0.8s;
        @mixin atLarge{ margin-left: 0 }
      }
      #postajob:hover{ color: $maincolor; background: #F1F1F1; }
    }
  }
}